@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h2,
h3 {
  letter-spacing: -0.25px;
}

h1 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: -0.33px;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.8125rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

h4 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.2px;
}

.gradient {
  background: rgb(163, 55, 246);
  background: radial-gradient(
    128.88% 125% at 103.9% 0%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
}

.flex {
  display: flex;
  align-items: center;
}