:root{
  --white: #FFFFFF;
  --electric-purple: #AD1FEA;
  --light-purple: #C75AF6;
  --rhino-blue: #373F68;
  --dark-blue: #3A4374;
  --ultramarine-blue: #4661E6;
  --lavender-blue: #7C91F9;
  --crystal-blue: #62BCFA;
  --magnolia-gray: #F2F4FF;
  --ghost-white: #F7F8FD;
  --moonraker: #CDD2EE;
  --dark-gray: 647196;
  --blush: #F49F85;
  --jasper: #D73737;
  --light-coral: #E98888;
}