.nav{
  height: 10vh;
  padding: 24px 0;
  color: var(--white);
  & svg{
    font-size: 1.75rem;
  }
  & section:first-of-type{
    justify-content: space-between;
  }
  & h4{
    color: var(--white);
  }
}

.aside, .overlay{
  position: fixed;
  min-height: 90vh;
}

.aside{
  background-color: var(--ghost-white);
  width: 16.94rem;
  padding: 1.5rem;
  transition: 0.2s right linear;
  z-index: 2;
}

.aside.shown{
  right: 0;
}

.aside.hidden{
  right: -100vw;
}

.overlay{
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: 0.2s opacity ease;
  pointer-events: none;
}

.overlay.shown {
  opacity: 1;
}

.overlay.hidden{
  opacity: 0;
}