.main,
.secondary,
.select,
.comment {
  font-size: 0.8125rem;
}

.main {
  color: var(--dark-gray);
}

.secondary {
  opacity: 0.75;
  font-weight: 500;
}

.select {
  color: var(--ghost-white);
}

.comment {
  color: var(--dark-blue);
  font-weight: 700;
}

@media (min-width: 768px) {
  .main, .comment {
    font-size: 1rem;
  }
  .secondary {
    font-size: 0.9375rem;
  }
  .select {
    font-size: 0.875rem;
  }
}
